# URL do backend do grupo (quando estiver pronto)
EXPO_PUBLIC_API_URL=https://sua-api.orbitaalerta.com.br

# true = usa dados mock (desenvolvimento) | false = dados reais da NASA FIRMS (produção)
EXPO_PUBLIC_USE_MOCK=false

# Timeout das requisições em ms
EXPO_PUBLIC_API_TIMEOUT=15000
