# URL do backend do grupo (quando estiver pronto)
EXPO_PUBLIC_API_URL=https://sua-api.orbitaalerta.com.br

# true = usa dados mock | false = chama a API real
EXPO_PUBLIC_USE_MOCK=true

# Timeout das requisições em ms
EXPO_PUBLIC_API_TIMEOUT=15000
